@import "ShoppingList_left.css";
@import "ShoppingList_contain.css";
html , body{
  height: 100%;
}
body{
  margin: 0;
  background-color: #f7f7f7;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}
.top{
  background-color: white;
  top: 0;
  height: 60px;
  width: 100%;
  border-bottom: solid #509bcd 5px;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
  position: fixed;
  z-index: 20;
}
.logo{
  position: absolute;
  left: 15px;
  top: 18px;
}
.user{
  float: right;
  height: 42px;
  width: auto;
  margin-right: 200px;
  margin-top: 7px;
}
.user > .user_attr{
  float: right;
}
.user > .user_attr > .head_portrait{
  position: absolute;
  z-index: 99;
  width: 42px;
  border-radius: 21px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  transform-origin: center top;
  transition-duration: 0.3s;
}
.user > .user_attr > .enlarge{
  transform: scale(2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
}
.user > .user_name{
  margin-right: 45px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
}
.fold_attr{
  top: 54px;
  position: fixed;
  right: 39px;
  z-index: 10;
  width: 280px;
  height: 375px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,.5);
}
.attr_list{
  width: inherit;
  height: auto;
  padding-top: 40px;
  padding-left: 10px;
  float: left;
  list-style-type: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
.attr_list > li{
  padding: 10px 30px;
  margin: 0;
  border-bottom: solid #ccc 1px;
  font-size: 17px;
  color: #666;
}
.attr_list > li >span{
  float: right;
  color: #000;
}
.attr_list > li:last-child{
  border-bottom: none;
  text-align: center;
}
#balance{
  color: #e74c3c;
  font-weight: bold;
}
#log_out {
  background-color: #e74c3c;
  border-color: #e74c3c;
  font-size: 18px;
  padding: 7px 12px;
}
#log_in{
  float: right;
  margin-left: -43px;
  margin-top: 2px;
  padding: 4px 6px;
  font-size: 18px;
}
@media (max-width: 1080px) {
  .user {
    margin-right: 161px;
  }
  .fold_attr{
    right: 0;
  }
}

