.flex_layout_center{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex_layout_row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex_layout_column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.commodity{
  position: relative;
  z-index: 5;
  float: right;
  width: 80%;
  height: 100%;
  padding-top: 60px;
  overflow-y: auto;
  background: #f7f7f7;
}
.commodity::-webkit-scrollbar{
  display: none;
}
.commodity >.top_div{
  width: 100%;
}
.commodity >.top_div > .top_img{
  width: inherit;
}
.commodity >.top_div > .img_desc{
  font-size: 2.5em;
  color: white;
  white-space: nowrap;
  position: absolute;
}
.commodity > .commodity_contain{
  width: 100%;
}
.commodity_contain > .grid_box{
  width: 75%;
  padding:40px 0;
  margin: 0 auto;
}
.grid_box > .card{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  margin: 20px 15px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, .08);
  border-radius: .25em;
  width: 200px;
  height: 300px;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.grid_box > .empty{
  opacity: 0;
  cursor: auto;
}
.grid_box > .card > .img_wrap{
  width: 100%;
  height: 200px;
}
.grid_box > .card > .img_wrap > img{
  width: inherit;
}
.grid_box > .card > .item_name{
  padding: 0 15px;
}
.grid_box > .card > .item_price{
  position: absolute;
  bottom: 12px;
  color: #e74c3c;
}
.card:hover{
  transform: translateY(-10px);
}
.item_detail{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}
.item_detail > .detail_wrap{
  width: 850px;
  height: 450px;

}
@media (max-width: 1080px) {
  .commodity{
    width: 1080px;
  }
  .class{
    display: none;
  }
}
